set NERDTree

set visualbell

let mapleader=" "

nmap <leader>ff :action GotoFile<cr>

nmap <C-t> :NERDTreeToggle<cr>
nmap <leader>n :NERDTreeFocus<cr>
nmap <leader>w :w<cr>
nmap <leader>q :q<cr>

map <Leader>rr :action Refactorings.QuickListPopupAction<CR>

