[submodule ".oh-my-zsh/plugins/fzf-brew"]
	path = .oh-my-zsh/plugins/fzf-brew
	url = https://github.com/thirteen37/fzf-brew
[submodule ".oh-my-zsh/plugins/zsh-autosuggestions"]
	path = .oh-my-zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule ".config.d/uebersicht/widgets/clock-bar"]
	path = .config.d/uebersicht/widgets/clock-bar
	url = https://github.com/Mvmo/clock-bar-uebersicht
